extends layout

block content
  link(href='/css/admin.css', rel='stylesheet')
  script(src="/scripts/admin.js")

  h1 Site
  section.admin-site
    table.standard-table
      //- thead
      //-   tr
      //-     th Name
      //-     th Value
      tbody
        tr
          td.admin-table-name Site
          td.admin-table-value= site.title
        tr
          td.admin-table-name Name
          td.admin-table-value= site.id.name
        tr
          td.admin-table-name ID
          td.admin-table-value= site.id.version
        tr
          td.admin-table-name Hash
          td.admin-table-value= site.hash

  h2 Settings
  table.standard-table
    tbody
      each value, key in settings.main
        tr
          td.admin-table-name= key
          td.admin-table-value= value

  hr

  h1 Database
  section.admin-database
    table.standard-table
      tbody
        each value, key in mongo
          tr
            td.admin-table-name= key
            td.admin-table-value= value

  h2 Tasks
  section.admin-database
    div.standard-button#admin-republish Republish
    span &nbsp;
    span Resets statistics for all published puzzles.

  h2 Content

    script.
      $(function() {
        $("#admin-republish").click(function() {
          const title = "Republish All?"
          const message = "'Republishing All' will reset all statistics & rebuild them using information contained in published puzzles. Are you sure that you want to do this?";
          $.message.power(title, message, ["Yes", "No"])
            .then(button => {
              if (button === "yes") {
                console.log("*** we're off to the races!");

                $.post({
                  url: "/admin/publish"
                })
                .then(data => {
                  console.info("/admin/publish(%o)", data);
                })
                .catch(error => {

                })
              }
            })
            .catch();
        });
      });
