mixin header
  include ./loginbox
  include ./registrationbox

  header.main
    div
      div#login-bubble
        div.login-bubble-text
          if ! req.session.user
            | login
          else
            | logout

      span#title
        a(href='/')= site.title

      - let currentItem;
      nav
        span
          each item in site.map
            - let isCurrentPage = isMapLink(req.fullpath, item);
            - let linkClass = isCurrentPage ? "header-nav-selected" : "header-nav-unselected";
            - let linkPath = isCurrentPage ? undefined : item.path;
            if (isMapItemVisible(req.session, item) && (! item.hidden))
              if item.class
                - linkClass += " " + item.class;
              a(href=linkPath, class= linkClass, disabled= isCurrentPage) #{item.name}

            if isCurrentPage
              - currentItem = item;

      - let menu = site.submenus[submenu] || (currentItem && currentItem.menu);
      if (menu || site.showMenuEmpty) && (site.showMenuAlways || isLoggedIn(req))
        div.headerNavigationMenu
          span
            if menu
              each menuItem, index in menu
                a.headerNavMenuUnselected(data-index=index, data-selector=menuItem.selector)= menuItem.name
            else
              | &nbsp;

        script.
          $(function() {
            function selectNavMenu(index) {
              let $selected = $(`.headerNavigationMenu a[data-index=${index}]`);
              let $unselected = $(`.headerNavigationMenu a:not([data-index=${index}])`);
              $selected.removeClass("headerNavMenuUnselected").addClass("headerNavMenuSelected");
              $unselected.removeClass("headerNavMenuSelected").addClass("headerNavMenuUnselected");

              $unselected.each(function() {
                let selector = $(this).attr("data-selector");
                $(selector).hide();
              })

              $($selected.attr("data-selector")).show();
            }

            $(".headerNavigationMenu a").click(function() {
              selectNavMenu($(this).attr("data-index"));
            });

            if (! $(".headerNavigationMenu a.headerNavMenuSelected").exists()) {
              selectNavMenu(0);
            }
          });

      if ! req.session.user
        +loginbox
        +registrationbox

        script.
          console.log("header.pug : logged out");

      else
        script.
          console.log("header.pug : logged in");

          $(function() {
            $("#login-bubble").click(function() {
                $.ajax({
                    url: "/login",
                    method: "DELETE"
                })
                .done((data, status) => {
                    console.log("logged out");
                    $.redirect("/");
                });
            });
          });
