mixin header

  include ./user/loginbox
  include ./user/registrationbox

  header.main
    div
      div#login-bubble
        div.login-bubble-text
          if ! req.session.user
            | login
          else
            | logout

      span#title
        a(href='/')= site.title

      nav
        span
          each item in site.map
            if mapItemVisible(req.session, item) && (! item.hidden)
              - let linkClass = mapLink(req.fullpath, item) ? "header-nav-selected" : "header-nav-unselected";
              if item.class
                - linkClass += " " + item.class;
              a(href=item.path, class= linkClass, disabled= isCurrentPage) #{item.name}


        script.
          $(function() {
            function selectNavMenu(index) {
              let $selected = $(`.headerNavigationMenu a[data-index=${index}]`);
              let $unselected = $(`.headerNavigationMenu a:not([data-index=${index}])`);
              $selected.removeClass("headerNavMenuUnselected").addClass("headerNavMenuSelected");
              $unselected.removeClass("headerNavMenuSelected").addClass("headerNavMenuUnselected");

              $unselected.each(function() {
                let selector = $(this).attr("data-selector");
                $(selector).hide();
              })

              $($selected.attr("data-selector")).show();
            }

            $(".headerNavigationMenu a").click(function() {
              selectNavMenu($(this).attr("data-index"));
            });

            if (! $(".headerNavigationMenu a.headerNavMenuSelected").exists()) {
              selectNavMenu(0);
            }
          });

      if ! req.session.user
        +loginbox
        +registrationbox

        script.
          console.log("header.pug : logged out");

      else
        script.
          console.log("header.pug : logged in");

          $(function() {
            $("#login-bubble").click(function() {
                $.ajax({
                    url: "/login",
                    method: "DELETE"
                })
                .done((data, status) => {
                    console.log("logged out");
                    $.redirect("/");
                });
            });
          });
